@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: rgb(41, 41, 41);
    min-width: 250px;
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
    padding:1rem;
    color: white;
}

.form-outline{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* .blockdiv{
    display:none
} */